header {
    text-align: center;
    width: 50%;
    font-size: 150%;
    color: red;
    margin-left: 25%;
    margin-right: 25%;
}

aside {
    width: 20%;
    float: left;
    padding-right: 1%;
    margin-left: 1%;
    margin-right: 10%;
}

footer {
    font-size: 100%;
    color: black;
    position: absolute;
    bottom: 0;
    width: 98%;
    display: flex;
    justify-content:center;
}

body {
    background-color: lightblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}